.main {
    min-height: 100vh;
    flex: 1;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    padding: 0 2rem;
}